# Source files
src/
*.test.tsx
*.test.ts
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.stories.tsx
src/**/*.stories.ts
src/**/*.a11y.test.tsx
src/**/*.sr.test.ts
src/test/
tests/
test-results/
playwright-report/
.storybook/
storybook-static/

# Config files
vite.config.ts
vitest.config.ts
tsconfig.json

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Testing
coverage/

# Build artifacts (keep dist!)
node_modules/

# Misc
.DS_Store
*.log

#Enviroment files
.env
.env.*

*.log

*.tgz

# Keep only dist folder
!dist/